<html>
<head>
	<title>Hi, how are you doing today?</title>
</head>
<body>
<h1> Congratulation! You have received a booking from <%= @customer.email %></h1>
<p>Your url is <%= @url %></p>
</body>
</html>